body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

.countdown {
  text-align: center;
  background: rgb(151,189,239);
background: linear-gradient(90deg, rgba(151,189,239,1) 0%, rgba(191,243,219,1) %, rgba(35,189,158,1) 61%, rgba(0,0,0,0.1980382885251727) 99%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2em;
  color: #333;
}

.timer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.timer div {
  text-align: center;
}

.timer span {
  font-size: 3em;
  color: #333;
  margin-bottom: 10px;
}

.timer span:last-child {
  font-size: 1.2em;
  color: Red;
}
